In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/ai_assistant_usage_student_life_inicio.csv')

In [8]:
df.sample(5)

,SessionID,StudentLevel,Discipline,SessionDate,SessionLengthMin,TotalPrompts,TaskType,AI_AssistanceLevel,FinalOutcome,UsedAgain,SatisfactionRating
9963,SESSION09964,High School,Math,2024-12-14,12.62,3,Homework Help,4,Assignment Completed,True,3.4
7158,SESSION07159,High School,Biology,2024-09-11,44.01,9,Studying,2,Assignment Completed,True,2.5
2914,SESSION02915,Undergraduate,Engineering,2024-07-04,3.27,1,Writing,3,Assignment Completed,True,2.5
8414,SESSION08415,Undergraduate,History,2025-04-17,5.64,1,Writing,2,Confused,False,1.5
9250,SESSION09251,Undergraduate,Math,2024-08-02,11.39,2,Homework Help,5,Assignment Completed,True,5.0

In [11]:
df.shape

(10000, 11)

In [13]:
print(f'Nuestro conjunto de datos presenta un total de {df.shape[0]} filas y {df.shape[1]} columnas')

Nuestro conjunto de datos presenta un total de 10000 filas y 11 columnas

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           10000 non-null  object
 1   StudentLevel        10000 non-null  object
 2   Discipline          10000 non-null  object
 3   SessionDate         10000 non-null  object
 4   SessionLengthMin    10000 non-null  float64
 5   TotalPrompts        10000 non-null  int64
 6   TaskType            10000 non-null  object
 7   AI_AssistanceLevel  10000 non-null  int64
 8   FinalOutcome        10000 non-null  object
 9   UsedAgain           10000 non-null  bool
 10  SatisfactionRating  10000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 791.1+ KB

In [15]:
df.isnull().sum()/df.shape[0]*100

SessionID             0.0
StudentLevel          0.0
Discipline            0.0
SessionDate           0.0
SessionLengthMin      0.0
TotalPrompts          0.0
TaskType              0.0
AI_AssistanceLevel    0.0
FinalOutcome          0.0
UsedAgain             0.0
SatisfactionRating    0.0
dtype: float64

In [16]:
df.duplicated().sum()

np.int64(0)

In [19]:
df.select_dtypes(include= 'object').columns

Index(['SessionID', 'StudentLevel', 'Discipline', 'SessionDate', 'TaskType',
       'FinalOutcome'],
      dtype='object')

In [20]:
for col in df.select_dtypes(include= 'object').columns:

    print(col.upper())

    print(df[col].value_counts())

    print('--------')

SESSIONID
SessionID
SESSION00001    1
SESSION00002    1
SESSION00003    1
SESSION00004    1
SESSION00005    1
               ..
SESSION09996    1
SESSION09997    1
SESSION09998    1
SESSION09999    1
SESSION10000    1
Name: count, Length: 10000, dtype: int64
--------
STUDENTLEVEL
StudentLevel
Undergraduate    5978
High School      2027
Graduate         1995
Name: count, dtype: int64
--------
DISCIPLINE
Discipline
Biology             1458
Computer Science    1445
Engineering         1430
Math                1422
Psychology          1418
History             1417
Business            1410
Name: count, dtype: int64
--------
SESSIONDATE
SessionDate
2025-01-19    41
2025-06-21    41
2025-04-16    41
2025-04-03    41
2024-08-15    41
              ..
2024-12-22    17
2025-04-02    17
2024-12-30    16
2024-09-24    15
2024-12-28    15
Name: count, Length: 366, dtype: int64
--------
TASKTYPE
TaskType
Writing          3101
Studying         2040
Homework Help    1959
Coding           1948
Brainstorming     476
Research          476
Name: count, dtype: int64
--------
FINALOUTCOME
FinalOutcome
Assignment Completed    4768
Idea Drafted            2866
Confused                1613
Gave Up                  753
Name: count, dtype: int64
--------

In [30]:
def eda_preliminar (df):

    display(df.samples(5))

    print('--------')

    print('DIMENSIONES')

    print(f'Nuestro conjunto de datos presenta un total de {df.shape[0]} filas y {df.shape[1]} columnas')

    print('--------')
    print('INFO')

    display(df.info())

    print('--------')
    print('NULOS')

    diplay(df.isnull().mean()*100)

    print('--------')
    print('DUPLICADOS')

    print(f'Tenemos un total de {df.duplicated().sum()} duplicados')

    print('--------')

    print('FRECUENCIAS CATEGÓRICAS')
     
    for col in df.select_dtypes(include= 'object').columns:
        print(col.upper())
        print(df[col].value_counts())
        print('--------')

In [ ]:
eda_preliminar(df)

AttributeError: 'DataFrame' object has no attribute 'samples'