# Cosas a limpiar

- **SessionDate** -> Cambiar a tipo fecha

In [2]:
#Tratamiento de datos
import pandas as pd
import re 
pd.set_option('display.max_columns', None)
#----------

In [3]:
df_raw=pd.read_csv('../data/ai_assistant_usage_student_life_inicio.csv')
df_raw.sample(5)

,SessionID,StudentLevel,Discipline,SessionDate,SessionLengthMin,TotalPrompts,TaskType,AI_AssistanceLevel,FinalOutcome,UsedAgain,SatisfactionRating
7343,SESSION07344,High School,Psychology,2024-09-17,16.22,7,Writing,4,Assignment Completed,True,5.0
9397,SESSION09398,Undergraduate,Engineering,2024-08-12,21.13,4,Writing,2,Assignment Completed,True,3.0
8159,SESSION08160,Undergraduate,Math,2025-02-09,20.42,8,Writing,3,Assignment Completed,True,3.4
9519,SESSION09520,Undergraduate,Business,2024-12-25,31.23,12,Coding,3,Assignment Completed,True,1.6
6727,SESSION06728,Graduate,Math,2024-07-24,25.63,5,Coding,4,Assignment Completed,True,4.3

In [4]:
df=df_raw.copy()

In [5]:
new_columns = []
for col in df.columns:
    #Agrega un guión bajo antes de cada mayúscula (excepto la primera)
    #y convierte todo a minúscula
    new_col = re.sub(r'(?<!^)(?=[A-Z])', '_', col).lower()
    new_columns.append(new_col)

df.columns = new_columns

df.columns

Index(['session_i_d', 'student_level', 'discipline', 'session_date',
       'session_length_min', 'total_prompts', 'task_type',
       'a_i__assistance_level', 'final_outcome', 'used_again',
       'satisfaction_rating'],
      dtype='object')

In [6]:
new_columns = []
for col in df.columns:
    # Inserta "_" antes de mayúsculas (excepto la primera) y pasa a minúscula
    new_col = re.sub(r'(?<!^)(?=[A-Z])', '_', col).lower()
    
    # Correcciones manuales para casos específicos
    new_col = new_col.replace('i_d', 'id')
    new_col = new_col.replace('a_i', 'ai')
    
    new_columns.append(new_col)

df.columns = new_columns

print (df.columns)

Index(['session_id', 'student_level', 'discipline', 'session_date',
       'session_length_min', 'total_prompts', 'task_type',
       'ai__assistance_level', 'final_outcome', 'used_again',
       'satisfaction_rating'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   session_id            10000 non-null  object
 1   student_level         10000 non-null  object
 2   discipline            10000 non-null  object
 3   session_date          10000 non-null  object
 4   session_length_min    10000 non-null  float64
 5   total_prompts         10000 non-null  int64
 6   task_type             10000 non-null  object
 7   ai__assistance_level  10000 non-null  int64
 8   final_outcome         10000 non-null  object
 9   used_again            10000 non-null  bool
 10  satisfaction_rating   10000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 791.1+ KB

In [8]:
df.sample(1)

,session_id,student_level,discipline,session_date,session_length_min,total_prompts,task_type,ai__assistance_level,final_outcome,used_again,satisfaction_rating
5469,SESSION05470,High School,Psychology,2024-11-10,1.37,1,Coding,3,Idea Drafted,True,1.7

### Cambio a formato fecha la columna session_date

In [9]:
df['session_date'] = pd.to_datetime(df['session_date'], format = '%Y-%m-%d')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   session_id            10000 non-null  object
 1   student_level         10000 non-null  object
 2   discipline            10000 non-null  object
 3   session_date          10000 non-null  datetime64[ns]
 4   session_length_min    10000 non-null  float64
 5   total_prompts         10000 non-null  int64
 6   task_type             10000 non-null  object
 7   ai__assistance_level  10000 non-null  int64
 8   final_outcome         10000 non-null  object
 9   used_again            10000 non-null  bool
 10  satisfaction_rating   10000 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 791.1+ KB

In [11]:
df.sample(5)

,session_id,student_level,discipline,session_date,session_length_min,total_prompts,task_type,ai__assistance_level,final_outcome,used_again,satisfaction_rating
3060,SESSION03061,High School,Engineering,2025-05-26,23.49,5,Writing,2,Assignment Completed,True,2.0
8582,SESSION08583,Undergraduate,Engineering,2024-09-23,15.44,7,Writing,5,Assignment Completed,True,4.1
7417,SESSION07418,Undergraduate,Psychology,2025-06-15,19.57,5,Writing,3,Assignment Completed,True,3.6
7355,SESSION07356,Graduate,Business,2024-12-07,23.59,5,Studying,3,Idea Drafted,True,1.9
8241,SESSION08242,High School,Computer Science,2024-12-11,5.35,2,Writing,3,Idea Drafted,True,2.1